<h1>Edit <%= @recipe.name %> Recipe</h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label for="name">Name:</label>
  <input type="text" name="recipe[name]" id="name" value="<%= @recipe.name %>">

  <label for="link">Link:</label>
  <input type="text" name="recipe[link]" value="<%= @recipe.link %>" placeholder="Recipe Link" id="link">

  <p>Choose key ingredients:</p>
  <div class="multi-column-list">
    <% @ingredients.each do |ingredient| %>
      <p class="checkbox-label">
        <input type="checkbox" name="recipe[ingredient_ids][]" value="<%= ingredient.id %>" <%= 'checked' if @recipe.ingredients.include?(ingredient) %>><%= ingredient.name %></input>
      </p>
    <% end %>
  </div>

  <br>
  <label for="add_ingredient">Or add an ingredient:</label>
  <input type="text" name="ingredient[name]" placeholder="Ingredient name" id="add_ingredient">

  <p>Choose categories:</p>
  <div class="multi-column-list">
    <% @types.each do |type| %>
      <p class="checkbox-label">
        <input type="checkbox" name="recipe[type_ids][]" value="<%= type.id %>" <%= 'checked' if @recipe.types.include?(type) %>><%= type.name %></input>
      </p>
    <% end %>
  </div>

  <br>
  <label for="add_type">Or add a category:</label>
  <input type="text" name="type[name]" placeholder="Category name">

  <label for="cooking_time">Cooking Time:</label>
  <input type="text" name="recipe[cooking_time]" value="<%= @recipe.cooking_time %>">

  <button type="submit">Update recipe</button>

</form>