<h1>
  <%= @recipe.name %> 

  <form action="/recipes/<%= @recipe.id %>/edit">
    <button type="submit">Edit</button>
  </form>

  <form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <button type="submit">Delete</button>
  </form>
</h1>


<h3 class="recipe-link"><a href="<%= @recipe.link %>">&#128279; View Recipe</a></h3>

<% if !@recipe.cooking_time.empty? %>
  <h3>Cooking Time: <%= @recipe.cooking_time %></h3>
<% end %>


<h3>Key Ingredients:</h3>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name.capitalize %></a></li>
    <% end %>
  </ul>


<h3>Categories:</h3>
  <ul>
    <% @types.each do |type| %>
      <li><a href="/categories/<%= type.id %>"><%= type.name.capitalize %></a></li>
    <% end %>
  </ul>

