<h1><%= @recipe.name %></h1>

<% if @recipe.link %>
  <h3 class="recipe-link"><a href="<%= @recipe.link %>">&#128279; View Recipe</a></h3>
<% end %>

<h3>Key Ingredients:</h3>
  <ul>
    <% @recipe.ingredients.all.each do |ingredient| %>
      <li><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
    <% end %>
  </ul>


<h3>Categories:</h3>
  <ul>
    <% @recipe.types.all.each do |type| %>
      <li><a href="/categories/<%= type.id %>"><%= type.name %></a></li>
    <% end %>
  </ul>

<form action="/recipes/<%= @recipe.id %>/edit">
<button type="submit" class="margin-collapse">Edit Recipe</button>
</form>



<form action="/recipes/<%= @recipe.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="delete">
<button type="submit" class="margin-collapse">Delete Recipe</button>
</form>